/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@font-face {
  font-family: Iosevka;
  src: url('/fonts/Iosevka.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Anta;
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Anta.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
    U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
  --background: #fff;
  --header-bg: #e6f7ff;
  --footer-bg: #e6f7ff;
  --middleground: #f0faff;
  --primary: #009edb;
  --secondary: #bb86fc;
  --foreground: #003e6b;
  --highlight: #f60;
  --border: #009edb;
  --text-dark: #003e6b;
  --text-light: #fff;
  --text-header: #003e6b;
  --text-footer: #003e6b;
  --valid-color: #2e844a;
  --warning-color: #dd7a01;
  --error-color: #ba0517;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --header-bg: #1f1f1f;
    --footer-bg: #1f1f1f;
    --middleground: #1f1f1f;
    --primary: #bb86fc;
    --secondary: #009edb;
    --foreground: #b3b3b3;
    --highlight: #03dac6;
    --border: #bb86fc;
    --text-dark: #fff;
    --text-light: #fff;
    --text-header: #fff;
    --text-footer: #fff;
    --valid-color: #2e844a;
    --warning-color: #dd7a01;
    --error-color: #ba0517;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 60px;
}

.header {
  padding: 20px;
  background-color: var(--header-bg);
  border-bottom: 1px solid var(--border);
}

.trailhead-banner-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.header-content {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
  justify-content: center; /* Center the links */
  margin-top: 10px; /* Add space on top of the links */
}

.header-nav a {
  text-decoration: none;
  color: var(--primary);
  font-weight: bold;
}

.header-nav a:hover {
  text-decoration: underline;
}

.header-nav .dropdown {
  position: relative;
  display: inline-block;
}

.header-nav .dropbtn {
  background-color: transparent;
  color: var(--primary);
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-size: 1em;
}

.header-nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--background);
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  z-index: 1;
}

.header-nav .dropdown-content a {
  color: var(--primary);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.header-nav .dropdown-content a:hover {
  background-color: var(--middleground);
  text-decoration: underline; /* Add underline on hover */
}

.header-nav .dropdown:hover .dropdown-content {
  display: block;
}

.header-nav .dropdown:hover .dropbtn {
  text-decoration: underline;
}

.trailhead-banner-header h1 {
  margin: 0;
  font-size: 3em;
  font-weight: bold;
  color: var(--text-header);
}

.trailhead-banner-header h2 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 500;
  color: var(--text-header);
}

.footer {
  background-color: var(--footer-bg);
  color: var(--text-footer);
  font-family: Inter, sans-serif;
  font-weight: 300;
  padding: 10px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  border-top: 1px solid var(--border);
  left: 0; /* Ensure the footer starts from the left edge */
}

.footer-link {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: inherit;
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.logo-container {
  flex-shrink: 0;
}

.github-logo {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  margin-left: -0;
  margin-right: -8px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 40px;
  padding: 20px;
  border: 1px solid var(--border);
  border-radius: 8px;
  background: var(--background);
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input {
  padding: 12px 40px 12px 12px;
  font-size: 16px;
  border: 1px solid var(--border);
  border-radius: 4px;
  background: var(--background);
  transition: border-color 0.3s;
  flex: 1;
  color: var(--text-dark);
}

.input:focus {
  border-color: var(--primary);
  outline: none;
}

.input-url {
  background: var(--input-url-bg);
  color: var(--text-dark);
}

.input-error {
  border-color: var(--error-color);
  border-width: 4px;
}

.input-warning {
  border-color: var(--warning-color);
  border-width: 4px;
}

.input-success {
  border-color: var(--valid-color);
  border-width: 2px;
}

.validation-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.validation-icon .icon {
  font-size: 20px;
}

.validation-icon[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 3px;
  white-space: nowrap;
  z-index: 10;
}

.button {
  padding: 10px;
  font-size: 16px;
  color: var(--text-light);
  background-color: var(--primary);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--secondary);
}

.more-options-button {
  background-color: var(--secondary);
}

.more-options-button:hover {
  background-color: var(--primary);
}

.submit-button {
  background-color: var(--primary);
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 20%);
  transition:
    background-color 0.3s,
    transform 0.3s;
}

.submit-button:hover {
  background-color: var(--secondary);
  transform: scale(1.05);
}

.options {
  margin-top: 0;
  padding: 15px;
  border: 1px solid var(--border);
  border-radius: 8px;
  background-color: var(--options-bg);
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  animation: fade-in 0.3s ease-in-out;
}

.options label {
  display: block;
  margin-bottom: 10px;
}

.options input[type='color'],
.options input[type='text'],
.options input[type='checkbox'] {
  margin-left: 10px;
}

fieldset {
  border: 1px solid var(--border);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 15px;
}

legend {
  padding: 0 10px;
  font-weight: bold;
  color: var(--primary);
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.username-validation {
  position: relative;
  display: flex;
  align-items: center;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.loading-icon {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-width: 5px;
  border-color: var(--primary);
  border-top-color: var(--secondary);
  animation: spin 1s infinite linear;
  border-radius: 100%;
  border-style: solid;
}

.loading-container p {
  font-size: 18px;
  font-weight: bold;
  color: var(--primary);
  margin-bottom: 10px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.image-container {
  text-align: center;
  margin-bottom: 20px;
}

.generated-image {
  max-width: 100%;
  height: auto;
  border: 1px solid var(--border);
  border-radius: 4px;
}

.download-link {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  font-size: 16px;
  color: var(--text-light);
  background-color: var(--primary);
  border: none;
  border-radius: 4px;
  text-decoration: none;
}

.download-link:hover {
  background-color: var(--secondary);
}

.tutorial {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 20px;
  background-color: var(--middleground);
  border: 1px solid var(--border);
  border-radius: 4px;
  text-align: left;
}

.tutorial h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: var(--text-dark);
}

.tutorial ol {
  padding-left: 20px;
  list-style-type: decimal;
  margin-bottom: -20px;
}

.tutorial li {
  margin-bottom: 10px;
}

.tutorial a {
  color: #0073b1;
  text-decoration: underline;
}

.tutorial a:hover {
  color: #005582;
  text-decoration: none;
}

.examples-container {
  padding: 20px;
  text-align: center;
  margin-bottom: 100px; /* Add more space under the cards container */
}

.examples-container h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: var(--text-dark);
}

.examples-container h2 {
  font-size: 1.5em;
  margin-bottom: 30px;
  color: var(--text-dark);
}

.examples-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  margin-top: 20px; /* Increase space on top of the example grid */
}

@media (width <= 768px) {
  .examples-grid {
    grid-template-columns: 1fr;
  }
}

.example-card {
  padding: 30px;
  border: 1px solid var(--border);
  border-radius: 8px;
  background-color: var(--background);
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 0; /* Ensure the example card stays below the footer */
}

.example-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgb(0 0 0 / 20%);
}

.example-card img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  border: 1px solid var(--border);
  transition: transform 0.3s; /* Add transition for smooth scaling */
  transform-origin: center; /* Ensure scaling happens from the center */
  z-index: 1;
  cursor: pointer;
}

.example-card img:hover {
  transform: scale(1.1);
  z-index: 10;
}

.example-card p {
  margin-top: 10px;
  font-size: 1em;
  color: var(--text-dark);
}

.fullscreen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 80%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}

.fullscreen-overlay img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}

.fullscreen-overlay.visible {
  visibility: visible;
  opacity: 1;
}

.error-message {
  color: var(--error-color);
  font-size: 16px;
  margin-top: 10px;
  text-align: center;
  background-color: #ffe6e6;
  padding: 10px;
  border: 1px solid var(--error-color);
  border-radius: 4px;
}

.error-message a {
  color: var(--primary);
  text-decoration: underline;
}

.error-message a:hover {
  color: var(--secondary);
  text-decoration: none;
}

.background-library-container {
  padding: 20px;
  text-align: center;
  margin-bottom: 100px; /* Add more space under the cards container */
}

.library-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

@media (width <= 768px) {
  .library-grid {
    grid-template-columns: 1fr;
  }
}

/* Media queries for responsiveness */
@media (width <= 768px) {
  .trailhead-banner-header {
    flex-direction: column;
    align-items: center;
  }

  .header-content {
    position: static;
    transform: none;
    margin-top: 10px;
  }

  .header-nav {
    margin-left: 0;
    margin-top: 10px;
  }
}

.copy-button {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 14px;
  color: var(--text-light);
  background-color: var(--primary);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.copy-button:hover {
  background-color: var(--secondary);
}

.notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: var(--primary);
  color: var(--text-light);
  padding: 10px 20px;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  z-index: 1000;
  transition: opacity 0.3s;
}

.background-library-container h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: var(--primary);
}

.background-library-container h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: var(--secondary);
}

.background-library-container ul {
  list-style-type: none; /* Remove the dot */
  padding-left: 0; /* Remove padding */
  margin-bottom: 20px;
}

.background-library-container ul li {
  font-size: 1.2em;
  margin-bottom: 5px; /* Make the space between them smaller */
}

.background-library-container ul li a {
  color: var(--primary);
  text-decoration: none;
}

.background-library-container ul li a:hover {
  text-decoration: underline;
}

.credit {
  font-size: 0.9em;
  color: var(--text-dark);
  margin-top: 5px;
}

.star-repo {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--primary);
  color: var(--text-light);
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.star-repo:hover {
  background-color: var(--secondary);
}
